table
{
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    overflow: auto;
    text-align: center;
}

td
{
    border: 1px solid black;
    height: 40px;
}

.table-vertical-header
{
  text-align: left;
  width: 150px;
}

.header
{
    font-size: larger;
    font-weight: bold;
}

th
{
    border: 1px solid black;
}