table
{
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    overflow: auto;
    text-align: center;
}

td
{
    border: 1px solid black;
}

.header
{
    font-size: larger;
    font-weight: bold;
}

th
{
    border: 1px solid black;
}